@font-face{
    font-family: 'Cormorant Infant Light';
    src: url(/assets/fonts/Cormorant_Infant/CormorantInfant-Light.ttf);
}

@font-face{
    font-family: 'Montserrat Light';
    src: url(/assets/fonts/Montserrat/Montserrat-Light.ttf);
}